{% extends 'base.html' %}

{% block title %}Добавление новой книги{% endblock %}

{% block content %}
 <form action="{% url 'book:add_book' %}" method="post">
     {% csrf_token %}
     <input type="text" required placeholder="Название книги" name="title"><br>
     <input type="text" required placeholder="Автор книги" name="author"><br>
     <input type="date" required placeholder="Дата публикации" name="date"><br>
     <textarea type="text" required placeholder="Описание книги" name="description"></textarea><br>
     <button type="submit">Добавить книгу</button>
 </form>
{% endblock %}
