{% extends 'base.html' %}

{% block title %}{{book.book_title}}{% endblock %}

{% block content %}
<h2>{{book.book_title}}</h2>
<em>{{book.book_author}}</em>
<p>{{book.book_text}}</p>
<em>{{book.pub_date}}</em>
<hr>
<hr>


{% endblock %}