{% extends 'base.html' %}

{% block title %}Список книг{% endblock %}

{% block content %}
   {% if latest_book %}
      {% for a in latest_book %}
          <p>
         <a href="{% url 'book:detail' a.id %}">{{a.book_title}}</a>
            </p>
      {% endfor %}
   {% else %}
      Книг нет
   {% endif %}
   <br>
   <hr>
   <a href="{% url 'book:add' %}"> Добавить книгу </a>
{% endblock %}
